body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #FFF8E5;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.95); /* Fundo semi-transparente. */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.navbar, .navbar-light {
    background-color: #FFDAB9 !important; /* Cor de pêssego. */
}

.nav-link {
    color: #8B4513 !important; /* Cor marrom, similar ao chocolate. */
}

.nav-link:hover, .nav-link:focus {
    color: #5E2605 !important;
}

h1, h2 {
    color: #8B4513; /* Marrom chocolate. */
    text-align: center;
}

.form-control {
    border: 1px solid #8B4513;
    padding: 10px 15px;
    font-size: 16px;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(210,105,30, 0.5);
}

.receita-card {
    border: 1px solid #FFE4B5;
    margin-bottom: 0px;
    transition: background-color 0.3s;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.receita-card:hover {
    background-color: #FFEBD9;
}

/* link do nome da receita para não admins*/
.list-item-link.no-admin {
    margin-bottom: 0;
}

.btn-primary, .btn-success {
    background-color: #D2691E;
    border-color: #D2691E;
    color: white;
}

.btn-primary:hover, .btn-success:hover {
    background-color: #8B4513;
    border-color: #8B4513;
}

.list-item-link {
    text-decoration: none;
    color: #8B4513; /* Marrom chocolate. */
}

.list-item-link:hover {
    text-decoration: underline;
}

.btn-secondary {
    background-color: #FFE4B5;
    border-color: #FFE4B5;
}

.btn-secondary:hover {
    background-color: #FFD39B;
    border-color: #FFD39B;
}

.alert-warning {
    background-color: #FFDAB9;
    border-color: #FFCBA4;
    color: #8B4513;
}

.alert-danger {
    background-color: #FFB6C1;
    border-color: #FFAEB9;
    color: #8B4513;
}
